<div class="row" *ngIf="!! options?.filters && options?.filters.length">
    <div [ngClass]="filter.cssClass" *ngFor="let filter of options.filters">
        <h6>{{filter.title}}</h6>
        <app-filters [data]="filter"></app-filters> 
    </div>
</div>

<!-- <div class="btn-group btn-group-toggle mb-3 d-table" data-toggle="buttons">
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option1"> Excel
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> PDF
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3"> Imprimir
    </label>
</div> -->

<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100% !important;">   
    <thead>
        <tr *ngIf="options?.columns">
            <th *ngFor="let column of options.columns">{{column.display}}</th>
        </tr>
    </thead>
    <tbody *ngIf="items?.length != 0">
        <ng-container *ngFor="let data of items; let i = index">
            <tr #trRef id="parent-{{i}}" (click)="rowClick(data)">
                <td *ngFor="let column of options.columns">
                    <app-datatable-column [column]="column" [data]="data" [trRef]="trRef"></app-datatable-column>
                </td>
            </tr>
            <tr *ngIf="openRows.indexOf(i) > -1">
                <td colspan="4">
                    <template #trChild id="child-{{i}}"></template>
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tbody *ngIf="items?.length == 0">
        <tr>
            <td [attr.colspan]="options?.columns.length || 1" class="no-data-available text-center">
                {{processing ? 'Un momento...' : 'No se encontraron resultados'}}
            </td>
        </tr>
    <tbody>
</table>