textarea{
    width:100%;
    height:200px;
    resize:none;
}
.debts-table {
    width: 98%;
    margin: 0 auto;
}
th {
    width: min-content !important;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
    border-radius: 3px;
}
.container-fluid {
    padding: 25px;
}
.btn{
    margin-right: 5px;
}