<div class="container-fluid pt-3">
    <div class="row">
        <div class="col col-md-6">
            <b>Dirección: </b><span>{{ data.address }}</span><br />
            <b>Teléfono: </b><span>{{ data.phone }}</span><br />
            <b>Email: </b><span>{{ data.email }}</span><br />
        </div>
        <!-- <div class="col col-md-6">
            <textarea></textarea><br />
            <button class="btn btn-info">Notificar</button>
        </div> -->
    </div>
    <div class="row">
        <div class="col col-md-12">
            <h3>Deudas</h3>
            <div class="debts-table">
                <app-datatable [options]="dataTableDebts"></app-datatable>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <h3>Cargos</h3>
            <div class="debts-table">
                <app-datatable [options]="dataTableCharges"></app-datatable>
            </div>
        </div>
    </div>
</div>