.row{
    display: block !important;
}
.container-fluid {
    padding: 0px;
}
.panel-heading .row{
    margin:0; 
    height:35px; 
    line-height:35px; 
    text-align:center;
}
.table-responsive{
    min-height: 300px; 
    max-height: 300px;
}
.btn-info {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-body {
    padding: 15px;
}
.panel-default {
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.col-md-offset-10 {
    margin-left: 83.33333333%;
}
.control-label{
    margin-bottom: 0px;
    margin-top: 0.5rem;
}
.row.group{
    padding: 15px;
}
button.btn.btn-success.add {
    margin-bottom: 15px;
}
.container.m-2 {
    margin: 0 auto !important;
    margin-top: 22px !important;
}