.btn.btn-success.btn-lg.btn-block.ladda-button{
    margin-bottom:10px;
}
.row.rw{
    background: #F1f1f1;
    border-radius: 13px;
    margin-bottom: 10px;
}
.label.label-info.ng-scope{
    background-color: greenyellow;
}
h5{
    margin-top:0px;
}