.remove{
    text-align: right;
}
.container.m-2 {
    margin: 0 auto !important;
    margin-top: 22px !important;
}
select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label.col-sm-12.col-form-label.font-weight-bold.int {
    padding-left: 0px;
}
.col-md-6 {
    border: 1px solid #9e9a9a;
    padding: 0px;
    border-radius: 6px;
    margin: 0.5%;
    flex: 0 0 49%;
}

.panel-heading .row{
    margin:0; 
    height:35px; 
    line-height:35px; 
    text-align:center;
}
.btn-info {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
    width: 94px;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-body {
    padding: 15px;
}
.table-responsive{
    min-height: 300px;
     max-height: 400px;
}
.panel-default {
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.col-md-offset-10 {
    margin-left: 83.33333333%;
}
.control-label{
    margin-bottom: 0px;
    margin-top: 0.5rem;
}
