<div class="col-md-10 content" ng-class="{'no-top-border': $first}">
    <dt>Número de serie</dt>
    <dd>{{item.serial_number}}</dd>
    <dl>
        <dt>Persona que recibió al técnico</dt>
        <dd>{{ item.recipient }}</dd>
        <dt>Acciones realizadas</dt>
        <dd>{{ item.work_description }}</dd>
        <dt>Cargos extras</dt>
        <dd>{{ item.extra_charges}}</dd>
        <dt>Motivos</dt>
        <dd>{{ item.extra_charges_reasons }}</dd>
        <dt>Código de error</dt>
            {{item.error_code.category}} - {{item.error_code.name}} - {{item.error_code.code}}
        <dt>Partes usadas</dt>
        <dd>
            <ul>
                <li *ngFor="let part of item.used_parts.split(',')">
                    {{part}}
                </li>
            </ul>
        </dd>
        <dt>TDS entrada</dt>
        <dd>{{item.tds_in}}</dd>
        <dt>TDS salida</dt>
        <dd>{{item.tds_out}}</dd>
    </dl>
    <dl>
        <dt>Ubicación del técnico al completar el formulario</dt>
        <dd>
            <div ng-switch="" on="item.latitude !== 'null'">
                <div ng-switch-when="true" class="lightBoxGallery ng-scope">
                </div>
            </div>
        </dd>
        <dt>Fotografías del técnico</dt>
        <dd>
            <div class="lightBoxGallery" data-use-bootstrap-modal="false">
            </div>
        </dd>
    </dl>
</div>