<div>
    <ng-container *ngFor="let action of options">
        <button class="{{action.cssClass}}" *ngIf="isVisible(action.conditionality)" (click)="fireEvent(action.event)">
            <i *ngIf="action['icon']" class="{{action.icon}}"></i>
            {{action.name}}
        </button>
    </ng-container>
</div>