<div class="row">
    <div class="col-sm-3">
        <div class="card text-white bg-info">
            <div class="card-body pb-0 text-right">
                <h5>Aguagratis</h5>
                <h5>{{kpi.free_water}} / {{kpi.active_users}} ({{kpi.free_water_percent}}) %</h5>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-white bg-warning">
            <div class="card-body pb-0 text-right">
                <h5>Responsabilidad social</h5>
                <h5>{{kpi.sr | currency}}</h5>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-white bg-success">
            <div class="card-body pb-0 text-right">
                <h5>Usuarios activos</h5>
                <h5>{{kpi.active_users}}</h5>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card text-white bg-danger">
            <div class="card-body pb-0 text-right">
                <h5>Deudas</h5>
                <h5>{{kpi.debts | currency}}</h5>
            </div>
        </div>
    </div>
</div>