<div class="container-fluid border-bottom bg-white p-3 mb-4" *ngIf="role.role">
    <div class="row">
        <div class="col">
            <div *ngIf="role.role == 'Administrator'">
                <h2 class="m-0">Administradores</h2>
            </div>

            <div *ngIf="role.role == 'Technician'">
                <h2 class="m-0">Técnicos</h2>
            </div>
        </div>

        <div class="col text-right">
            <button class="btn btn-success" (click)="createUser()">Crear {{role.name}}</button>
        </div>
    </div>
</div>

<div class="container-fluid bg-white p-3">
    <app-datatable [options]="dataTableConfig"></app-datatable>
</div>