<div class="modal-body">
    <div class="row d-block">
        <div class="col-sm-6">
            <h2>Cuota final de servicio</h2>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-dollar"></i>
                </span>
                <app-form-field type="input" [options]="{label: '' ,path: 'final_service_fee',width: true}"></app-form-field>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="col-sm-6">
            <div class="form-group" show-errors="{showSuccess: true}">
                <h2>Razones de la couta final</h2>
                <app-form-field type="textarea" style="border-radius: 0px;"  styleInput="textarea" [options]="{rows: '4', path:'final_service_fee_reasons', width: true}"></app-form-field>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Cancelar</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeTicket()">Cerrar Ticket</button>
</div>
