.pointer {
  cursor: pointer;
}

.text-success {
    color: #1c84c6 !important;
}
.truck i{
    color: #888;
    position: relative;
    text-align: right;
    animation:  mymove 3s, myfade 3s,;  
    animation-iteration-count: infinite;
}

@-webkit-keyframes mymove {
    from {right: 0px;}
    to {right: 25xp;}
  }
@-webkit-keyframes myfade {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes mymove {
    from {right: 0px;}
    to {right: 25px;}
  }
  @keyframes myfade {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  // Popover


:host::ng-deep {
  .popover {
    max-width: 400px;
    
    .popover-body {
      padding: 9px 14px;
  
      h4{
        margin-top: 5px;
        font-weight: 600;
        font-size: 14px;
      }
  
      dl {
        margin-top: 0;
        margin-bottom: 20px;
  
        &.dl-horizontal {
          dt {
            float: left;
            width: 90px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
  
          dd {
            margin-left: 110px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}