<div>
    <h6>{{data.name}}</h6>
    <div *ngIf="data.invoice_data">
        <a class="text-info">Datos de facturación capturados</a>
    </div>
    <div *ngIf="!data.invoice_data">
        <a class="text-warning">Datos de facturación no capturados</a>
    </div>
    <div *ngIf="data.serial_number">
        <a class="font-weight-bold">Número de serie</a>
        <br>
        <i class="fa fa-tint fa-lg text-info fa-fw"></i>
        <a>{{data.serial_number}}</a>
    </div>
</div>