<div *ngIf="data.paid_at">
    <span class="badge badge-primary">Comisión pagada el: {{data.paid_at}} </span>
</div>

<div *ngIf="!data.paid_at">
    <span class="badge badge-danger">Comisión no pagada</span>
</div>


