
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-primary: mat-palette($mat-indigo);
$ng-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-theme: mat-light-theme($ng-primary, $ng-accent, $ng-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-theme);

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.dropdown-item i {
    color: #686b6d !important;
}
.modal-lg {
    width: 95%;
}
.modal-dialog.modal-xl {
    width: 95%;
    max-width: 95%;
}
.modal-dialog {
    width: 95%;
    max-width: 95%;
}
app-modal {
    color: #676a6c !important;
}
app-modal h3 {
    font-size: 24px !important;
    font-weight: 300 !important;
}
h4.modal-title{
    font-size: 17px !important;
}
.col-md-10.content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
}

.no-top-border:first-child {
    border-top: 0 !important;
  }

.row.client-info {
    padding-bottom: 15px;
}
.selected-tech .col-md-9 p{
    margin-bottom: 0.5rem;
}
.selected-tech h3{
    font-size: 22px !important;
}
button.btn.btn-success.btn-lg.btn-block.ladda-button {
    margin-top: 5px;
}
.label-info, .badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: .25em;
}
th {
    width: min-content !important;
}