<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Historial de validación">
        <ng-template ngbTabContent>
            <app-history [items]="history" type="tickets"></app-history>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Cancelar</button>
</div>
